.keyboard-grid {
  display: grid;
  gap: 5px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.key {
  aspect-ratio: 1 / 1;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  padding: 10px;
  font-size: large;
}

.nonstandard{
  font-size: x-small;
}


.skipped-key {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.skipped-key::before,
.skipped-key::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -15%;
  width: 130%;
  height: 2px; 
  background-color: rgba(
    128,
    128,
    128,
    0.6
  ); 
}

.skipped-key::before {
  transform: rotate(45deg);
}

.skipped-key::after {
  transform: rotate(-45deg);
}

.spanning-key {
  aspect-ratio: unset;
  height: auto;
}
